[Desktop Entry]
Type=Application
TryExec=alacritty
Exec=env LIBGL_ALWAYS_SOFTWARE=1 alacritty -e tmux new -A -s default
Icon=Alacritty
Terminal=false
Categories=System;TerminalEmulator;

Name=Alacritty
GenericName=Terminal
Comment=A fast, cross-platform, OpenGL terminal emulator
StartupWMClass=Alacritty
Actions=New;

X-Desktop-File-Install-Version=0.26

[Desktop Action New]
Name=New Terminal
Exec=LIBGL_ALWAYS_SOFTWARE=1 alacritty
